LOCAL_UID=1000
LOCAL_GID=1000

MYSQL_DATABASE=change_me_database
MYSQL_ROOT_PASSWORD=change_me_root_password
MYSQL_USER=change_me_user
MYSQL_PASSWORD=change_me_password

PMA_USER=change_me_admin_user
PMA_PASSWORD=change_me_admin_password
